<section id="footer" class="w-full h-auto shadow-lg">

  <div class="flex justify-center p-8 bg-gray-50">
  <div class="mr-32">
    <h4 class="text-xl mb-4">PimpMyPC</h4>
    <ul class="flex">
      <li class="mr-3 my-3"><button>About us</button></li>
      <li class="m-3"><button>Regulations</button></li>
      <li class="m-3"><button>Privacy policy</button></li>
      <li class="m-3"><button>Contact us</button></li>
      <li class="m-3"><button>Shipping</button></li>
    </ul>
  </div>

  <div id="contact" class="flex flex-col">
    <h4 class="text-xl mb-4">Contact</h4>

    <span class="ml-2 flex items-center"><ion-icon name="call-outline" class="mr-3"></ion-icon>000-000-000</span>
    <span class="m-2 flex items-center"><ion-icon name="mail-outline" class="mr-3"></ion-icon>e-mail@mail.com</span>
    <div id="socials" class="m-2">
      <span class="mr-3"><ion-icon name="logo-facebook"></ion-icon></span>
      <span class="mr-3"><ion-icon name="logo-instagram"></ion-icon></span>
      <span class="mr-3"><ion-icon name="logo-youtube"></ion-icon></span>
      <span class="mr-3"><ion-icon name="logo-twitter"></ion-icon></span>
    </div>
  </div>
  </div>

</section>
