<section id="sign-up">

  <div class="w-4/5 md:w-3/5 xl:w-2/5 mx-auto p-4 lg:p-16">
  <div class="border-2 border-black rounded-lg p-4 lg:p-8">

    <h2 class="text-3xl mb-6 m-4">Sign up</h2>

    <form class="flex flex-col justify-center items-center">
      <input type="text" class="w-4/5 my-3" placeholder="First name (required)">
      <input type="text" class="w-4/5 mb-3" placeholder="Last name (required)">
      <input type="email" class="w-4/5 mb-3" placeholder="E-mail address (required)">
      <input type="password" class="w-4/5" placeholder="Password (required)">
      <div class="w-4/5 flex items-center mt-4">
        <input id="subscribe" type="checkbox">
        <label for="subscribe" class="ml-2 text-base">Subscribe for exclusive e-mail offers and discounts.</label>
      </div>
      <input type="submit" class="bg-blue-600 py-2 px-4 rounded-full cursor-pointer my-4" value="Sign up">
      <small class="w-4/5 py-2">By creating an account, you agree to PimpMyPc's <a href="#" class="underline">Privacy
        Notice</a> and <a href="#" class="underline">Terms of Use.</a></small>
    </form>


  </div>

<div class="mt-6">
    <h3 class="text-2xl my-4">What are the benefits</h3>

    <ul class="font-bold text-lg">
      <li class="flex items-center p-4">
        <ion-icon name="rocket-outline" class="w-12 h-12 pr-2"></ion-icon>
        Speed your way through checkout</li>
      <li class="flex items-center p-4">
        <ion-icon name="file-tray-full-outline" class="w-12 h-12 pr-2"></ion-icon>
        Keep a record of all your purchases</li>
      <li class="flex items-center p-4">
        <ion-icon name="footsteps-outline" class="w-12 h-12 pr-2"></ion-icon>
        Track your orders easily</li>
      <li class="flex items-center p-4">
        <ion-icon name="cash-outline" class="w-12 h-12 pr-2"></ion-icon>
        Discover new offers and discounts</li>
    </ul>

</div>

  </div>


</section>
