<div class="px-4 glide">
  <div class="relative">
    <div class="glide__track" data-glide-el="track">

      <ul class="glide__slides">
        <li class="glide__slide max-w-64">
          <pmp-product-small></pmp-product-small>
        </li>
        <li class="glide__slide max-w-64">
          <pmp-product-small></pmp-product-small>
        </li>
        <li class="glide__slide max-w-64">
          <pmp-product-small></pmp-product-small>
        </li>
        <li class="glide__slide max-w-64">
          <pmp-product-small></pmp-product-small>
        </li>
        <li class="glide__slide max-w-64">
          <pmp-product-small></pmp-product-small>
        </li>
        <li class="glide__slide max-w-64">
          <pmp-product-small></pmp-product-small>
        </li>
        <li class="glide__slide max-w-64">
          <pmp-product-small></pmp-product-small>
        </li>
        <li class="glide__slide max-w-64">
          <pmp-product-small></pmp-product-small>
        </li>
        <li class="glide__slide max-w-64">
          <pmp-product-small></pmp-product-small>
        </li>
        <li class="glide__slide max-w-64">
          <pmp-product-small></pmp-product-small>
        </li>
        <li class="glide__slide max-w-64">
          <pmp-product-small></pmp-product-small>
        </li>

      </ul>

    </div>

    <div class="hidden glide__arrows md:block" data-glide-el="controls">
      <button
        class="absolute top-0 bottom-0 flex items-center justify-center w-10 h-10 my-auto duration-300 bg-white rounded-full shadow-lg -left-4 hover:bg-gray-400 glide__arrow glide__arrow--left"
        data-glide-dir="<">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </button>
      <button
        class="absolute top-0 bottom-0 flex items-center justify-center w-10 h-10 my-auto duration-300 bg-white rounded-full shadow-lg -right-4 hover:bg-gray-400 glide__arrow glide__arrow--right"
        data-glide-dir=">">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </button>
    </div>
  </div>
</div>
