           <pagination-template class="flex items-center self-end justify-center py-2 space-x-2 bg-gray-50"
             #p="paginationApi" (pageChange)="pageChangeEvent.emit($event)">


             <button (click)="p.previous()" [disabled]="p.isFirstPage()" class="flex items-center justify-center">
               <ion-icon class="p-2" [ngClass]="{'text-gray-500' : p.isFirstPage() }"
                 name="chevron-back-circle-outline">
               </ion-icon>
             </button>

             <div *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
               <a class="p-2 m-0 cursor-pointer" (click)="p.setCurrent(page.value)"
                 *ngIf="p.getCurrent() !== page.value">
                 <span>{{ page.label }}</span></a>

               <div class="p-2 m-0 bg-gray-500" *ngIf="p.getCurrent() === page.value"
                 [class.disabled]="p.isFirstPage()">
                 <span>{{ page.label }}</span>
               </div>

             </div>


             <button (click)="p.next()" [disabled]="p.isLastPage()" class="flex items-center justify-center">
               <ion-icon class="p-2" [ngClass]="{'text-gray-500' : p.isLastPage() }"
                 name="chevron-forward-circle-outline">
               </ion-icon>
             </button>

           </pagination-template>
