<section id="product-full" class="container">

  <section id="short-desc" class="flex my-8">

    <div class="w-1/2">
      <img src="https://picsum.photos/530/430">
    </div>

    <div class="w-1/2">
      <h3 class="text-3xl">Product name</h3>
    </div>

  </section>

<!--  <div class="hidden"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci aspernatur atque dignissimos ducimus eius eveniet facere id inventore iure, odio placeat quam quasi quibusdam repudiandae rerum similique voluptates voluptatum!<br>-->

<!--  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis natus officia quidem tempore voluptas! Aspernatur corporis cumque delectus, deleniti doloribus error facilis in, molestias necessitatibus nostrum nulla perferendis quasi reprehenderit!<br>-->

<!--  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at debitis deserunt dolores doloribus eligendi esse et hic impedit ipsum minus pariatur praesentium quaerat ratione sapiente sint, ullam unde voluptate!<br>-->

<!--  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam consectetur eaque enim eos est expedita facilis maxime, mollitia nam necessitatibus nesciunt nihil omnis possimus quibusdam, quo totam veritatis, voluptate.</p></div>-->

  <hr class="bg-black text-black h-1">

  <section id="product-details">

    <h2 class="text-3xl my-2">Details</h2>

    <table class="table-auto border-collapse w-full">
      <tr class="odd:bg-gray-200">
        <th class="border-t border-b border-gray-400">Hello</th>
        <th class="border-t border-b border-gray-400"><span class="float-left">Hello</span></th>

      </tr>

      <tr class="odd:bg-gray-200">
        <th class="border-t border-b border-gray-400">Hello</th>
        <th class="border-t border-b border-gray-400"><span class="float-left">Hello</span></th>

      </tr>

      <tr class="odd:bg-gray-200">
        <th class="border-t border-b border-gray-400">Hello</th>
        <th class="border-t border-b border-gray-400"><span class="float-left">Hello</span></th>

      </tr>


    </table>

  </section>

  <div id="opinions">
    <h2 class="text-3xl my-2">Opinions</h2>


    <div class="flex justify-center items-center w-full">
      <div class="border-2 border-black p-6 rounded-lg bg-gray-50 w-2/5">
      <div class="flex justify-between items-center">
        <div class="mr-8">
        <h2 class="text-2xl my-2">Do you own this product ?</h2>
        <p>Add your opinion about PRODUCT NAME HERE</p>
        </div>

        <div class="self-end">
<!--          <ion-icon class="h-10 w-10 text-gray-200 hover:text-yellow-400" (mouseenter)="" name="star"></ion-icon>-->
<!--          <ion-icon class="h-10 w-10 text-gray-200 hover:text-yellow-400" name="star"></ion-icon>-->
<!--          <ion-icon class="h-10 w-10 text-gray-200 hover:text-yellow-400" name="star"></ion-icon>-->
<!--          <ion-icon class="h-10 w-10 text-gray-200 hover:text-yellow-400" name="star"></ion-icon>-->
<!--          <ion-icon class="h-10 w-10 text-gray-200 hover:text-yellow-400" name="star"></ion-icon>-->
          <star-rating></star-rating>
        </div>
      </div>
      <div class="flex justify-center">
      <button class="mt-4 w-2/5 h-8 bg-blue-600 rounded-full">Add first opinion</button>
      </div>
      </div>
    </div>


  </div>


</section>

<pmp-newsletter></pmp-newsletter>
