<section id="product-full" class="container">

  <section id="short-desc" class="flex py-6">

    <div class="mx-4 w-1/2 lg:mx-20">
      <img src="https://picsum.photos/530/430">
    </div>

    <div class="w-1/2 ml-4">
      <h3 class="text-xl md:text-2xl">Product name</h3>
    </div>

  </section>

  <!--  <div class="hidden"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci aspernatur atque dignissimos ducimus eius eveniet facere id inventore iure, odio placeat quam quasi quibusdam repudiandae rerum similique voluptates voluptatum!<br>-->

  <!--  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis natus officia quidem tempore voluptas! Aspernatur corporis cumque delectus, deleniti doloribus error facilis in, molestias necessitatibus nostrum nulla perferendis quasi reprehenderit!<br>-->

  <!--  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at debitis deserunt dolores doloribus eligendi esse et hic impedit ipsum minus pariatur praesentium quaerat ratione sapiente sint, ullam unde voluptate!<br>-->

  <!--  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam consectetur eaque enim eos est expedita facilis maxime, mollitia nam necessitatibus nesciunt nihil omnis possimus quibusdam, quo totam veritatis, voluptate.</p></div>-->

  <hr class="h-1 text-black bg-black">

  <section id="product-details" class="px-2">

    <h2 class="my-2 text-3xl">Details</h2>

    <table class="w-full border-collapse table-auto">
      <tr class="odd:bg-gray-200">
        <th class="border-t border-b border-gray-400">Hello</th>
        <th class="border-t border-b border-gray-400"><span class="float-left">Hello</span></th>

      </tr>

      <tr class="odd:bg-gray-200">
        <th class="border-t border-b border-gray-400">Hello</th>
        <th class="border-t border-b border-gray-400"><span class="float-left">Hello</span></th>

      </tr>

      <tr class="odd:bg-gray-200">
        <th class="border-t border-b border-gray-400">Hello</th>
        <th class="border-t border-b border-gray-400"><span class="float-left">Hello</span></th>

      </tr>


    </table>

  </section>

  <section id="opinions" class="px-2">
    <h2 class="my-2 text-3xl">Opinions</h2>


    <div class="flex justify-center items-center w-full">
      <div class="p-6 w-4/5 lg:w-3/5 xl:w-2/5 bg-gray-50 rounded-lg border-2 border-black md:w-4/5">
        <div class="md:flex">
          <div class="mr-8 w-full">
            <h3 class="my-2 w-full text-center md:text-left text-xl md:text-2xl">Do you own this product ?</h3>
            <p class="text-center md:text-left">Add your opinion about PRODUCT NAME HERE</p>
          </div>

          <div class="hidden md:block self-end">
            <star-rating (ratingChange)="onRatingChange($event)" [rating]="productStars" size="large"
                         [hoverEnabled]="true"></star-rating>
          </div>
        </div>
        <div class="flex justify-center">
          <button (click)="toggleModal()" class="mt-4 w-full h-8 bg-blue-600 rounded-full md:w-2/5">Add first opinion</button>
        </div>
      </div>
    </div>


  </section>


</section>

<div class="overflow-auto fixed md:left-1/3 z-20 w-full sm:w-4/5 md:w-2/5 rounded-lg top-1/3 md:top-2/5" [ngClass]="{'hidden': (!showModal)}">

  <div>
    <div class="flex justify-between p-2 bg-gray-400">
      <h3 class="text-2xl">Add your opinion</h3>
      <span (click)="toggleModal()" class="flex justify-center items-center bg-gray-50 bg-gray-400 cursor-pointer"><ion-icon
        name="close-outline"></ion-icon></span>
    </div>
    <div class="flex flex-col items-center bg-gray-50">
      <h4 class="mt-4">Product name ...</h4>
      <star-rating class="my-2" [rating]="productStars" size="large" [hoverEnabled]="true"></star-rating>
<!--       TODO Use tailwind forms module-->
      <input type="text" class="mb-3 w-4/5 rounded-lg border" placeholder="Your name">
      <textarea class="w-4/5 rounded-lg border" placeholder="Description"></textarea>
      <button class="my-4 w-2/5 h-8 bg-blue-600 rounded-full">Add opinion</button>
    </div>
  </div>


</div>

<div (click)="toggleModal()"
     class="flex fixed top-0 left-0 z-10 justify-center items-center w-full h-screen bg-black opacity-50 animate-fade-bg"
     [ngClass]="{'hidden': (!showModal)}">
</div>


<pmp-newsletter></pmp-newsletter>
