<section id="contact-us">

  <div class="flex justify-around w-full mt-8">
    <div class="p-4 rounded-lg shadow-lg bg-gray-50">
      <h3 class="mb-4 text-3xl font-bold">Contact</h3>
      <span class="flex items-center ml-2">
        <ion-icon name="call-outline" class="mr-3"></ion-icon>000-000-000
      </span>
      <span class="flex items-center m-2">
        <ion-icon name="mail-outline" class="mr-3"></ion-icon>e-mail@mail.com
      </span>
      <div class="flex justify-between">
        <span class="mr-4">Mon - Fri </span>
        <span>8:00 AM - 6:00 PM</span>
      </div>
    </div>

    <div class="p-4 rounded-lg shadow-lg bg-gray-50">
      <h3 class="mb-4 text-3xl font-bold">Office</h3>
      <span class="flex items-center ml-2">
        <ion-icon name="call-outline" class="mr-3"></ion-icon>111-111-111
      </span>
      <span class="flex items-center m-2">
        <ion-icon name="mail-outline" class="mr-3"></ion-icon>office@mail.com
      </span>
      <span class="flex items-center m-2">
        <ion-icon name="business-outline" class="mr-3"></ion-icon>
        <span>Street 40, 00-000 City</span>
      </span>
      <div class="flex justify-between">
        <span class="mr-4">Mon - Fri </span>
        <span>8:00 AM - 6:00 PM</span>
      </div>
    </div>
  </div>


  <hr class="h-1 my-8 bg-black rounded-full">

  <div class="flex justify-center w-full">
    <form class="flex flex-col w-2/5 p-8 border border-black rounded-lg">

      <h3 class="mb-4 text-3xl font-bold">Contact us</h3>

      <input class="my-4" type="text" placeholder="Your e-mail">
      <textarea></textarea>
      <span class="mt-4 text-lg">Add attachment(optional)</span>
      <button class="w-1/5 p-2 my-4 bg-blue-600 rounded-full">Add file...</button>
      <small>Up to 20 MB (.jpg, .png, .pdf, .doc, .docx)</small>
      <input type="submit" value="Send"
        class="flex justify-center w-1/5 px-20 py-2 mx-auto mt-6 text-center bg-blue-600 rounded-full">
    </form>
  </div>


</section>
