<section id="products-by-category" class="my-4 md:my-0">

  <div id="categories" class="flex min-h-100vh">

    <div class="hidden w-1/5 mr-6 md:block">


      <nav class="border-2 border-black rounded-lg bg-gray-50">

        <ul class="p-1.5" *ngFor="let filterGroup of productsFilters">
          <li><span class="font-bold">{{ filterGroup.name }}</span>

            <ul class="my-2 ml-4" *ngFor="let filterValue of filterGroup.values">
              <li>

                <label class="flex" for="{{ filterValue.name + filterValue.id }}">
                  <input id="{{ filterValue.name + filterValue.id }}" class="mr-1" type="checkbox"
                    [checked]="filterValue.isChecked" (change)="filterClick(filterGroup, filterValue)">
                  {{ filterValue.name }}
                </label>

              </li>
            </ul>

          </li>
        </ul>


      </nav>

    </div>

    <div id="products" class="w-full min-h-100vh md:w-4/5 ">

      <div class="flex flex-col min-h-100vh">

        <div class="flex flex-col items-center justify-between p-2 md:flex-row bg-gray-50">

          <div class="hidden md:flex">
            <button class="flex items-center justify-center p-2 mr-4 rounded-lg"
              [ngClass]="{'bg-gray-400' : !showProductsInListView}" (click)="changeProductsView()">
              <ion-icon name="grid-outline"></ion-icon>
            </button>
            <button class="flex items-center justify-center p-2 rounded-lg" (click)="changeProductsView()"
              [ngClass]="{'bg-gray-400' : showProductsInListView}">
              <ion-icon name="list-outline"></ion-icon>
            </button>
          </div>

          <div class="flex flex-col items-center space-x-4 md:flex-row">
            <label for="sort" class="m-2">Sort by</label>
            <select [(ngModel)]="sortType" (change)="sortProductsByPrice()" id="sort" class="w-32 p-2 m-2">
              <option value="default">Choose</option>
              <option value="price,asc">Price ASC</option>
              <option value="price,desc">Price DESC</option>
            </select>

            <pmp-pagination [config]="paginationConfig" (pageChangeEvent)="onPageChange($event)">
            </pmp-pagination>
          </div>
        </div>

        <hr class="h-1 mb-4 bg-black rounded-full">

        <div class="mb-4 min-h-100vh">

          <div class="text-center">
            <span class="font-bold text-xl">{{ errorMessage }}</span>
          </div>
          <pmp-spinner *ngIf="loading"></pmp-spinner>

          <div
            [ngClass]="showProductsInListView ? 'grid grid-cols-1 gap-4' : 'grid grid-cols-1 sm:grid-rows-3 sm:grid-cols-3 gap-4'">


            <ng-container *ngFor="let product of products | paginate: paginationConfig ">

              <pmp-product-small [listView]="showProductsInListView" [product]="product" [configMode]="configurator">
              </pmp-product-small>

            </ng-container>
          </div>
        </div>

        <pmp-pagination [config]="paginationConfig" (pageChangeEvent)="onPageChange($event)">
        </pmp-pagination>

      </div>
    </div>

  </div>

</section>
