<section id="product-categories" class="my-4 md:my-0">

  <div id="categories" class="flex min-h-100vh">

    <div class="hidden w-1/5 mr-6 md:block">
      <nav class="border-2 border-black rounded-t-lg bg-gray-50">
        <ul>
          <li>Cat 1</li>
          <li>Cat 1</li>
          <li>Cat 1</li>
        </ul>
      </nav>

      <div id="filters" class="hidden border-2 border-t-0 border-black rounded-b-lg bg-gray-50 md:block">
        <h3 class="text-xl">Producer</h3>
        <ul>
          <li class="flex items-center"><input type="checkbox" id="producer-#1"><label for="producer-#1">Acer</label>
          </li>
        </ul>

        <h3 class="text-xl">Price</h3>
        <div class="flex">
          <input type="number" placeholder="From">
          <input type="number" placeholder="To">
        </div>

        <!--      <ng-container *ngFor="let filter of filters">-->
        <!--      <h3 class="text-xl">{{ filter.name }}</h3>-->
        <!--        <ul>-->
        <!--          <li class="flex items-center"><input type="checkbox" id="producer-{{ filter.id}}"><label for="producer-{{ filter.id}}">{{ filter.type}}</label></li>-->
        <!--        </ul>-->
        <!--    </ng-container>-->

      </div>
    </div>

    <div id="products" class="w-full min-h-100vh md:w-4/5 ">

      <div class="flex flex-col min-h-100vh">

        <div class="flex flex-col items-center justify-between p-2 md:flex-row bg-gray-50">

          <button (click)="toggleModal()" class="block p-2 m-2 bg-blue-600 rounded-full md:hidden">Categories and
            filters</button>

          <div class="flex">
            <button class="flex items-center justify-center p-2 mr-4 rounded-lg"
              [ngClass]="{'bg-gray-400' : !showProductsInListView}" (click)="changeProductsView()">
              <ion-icon name="grid-outline"></ion-icon>
            </button>
            <button class="flex items-center justify-center p-2 rounded-lg" (click)="changeProductsView()"
              [ngClass]="{'bg-gray-400' : showProductsInListView}">
              <ion-icon name="list-outline"></ion-icon>
            </button>
          </div>

          <div class="flex flex-col items-center space-x-4 md:flex-row">
            <div>
              <label for="sort" class="md:hidden">Sort by</label>
              <select id="sort" class="w-32 my-2">
                <option>Popularity</option>
              </select>
            </div>
            <div class="flex items-center space-x-4">
              <button class="flex items-center justify-center">
                <ion-icon class="p-2" name="chevron-back-circle-outline"></ion-icon>
              </button>
              <span><input type="number" [defaultValue]="1"> from 96</span>
              <button class="flex items-center justify-center">
                <ion-icon class="p-2 " name="chevron-forward-circle-outline"></ion-icon>
              </button>
            </div>
          </div>
        </div>

        <hr class="h-1 mb-4 bg-black rounded-full">

        <div [ngClass]="showProductsInListView ? 'grid grid-cols-1 gap-4' : 'grid grid-cols-1 sm:grid-cols-3 gap-4'">
          <!--        <pmp-product-small [itemParams]="['param1', 'param2','param3']"></pmp-product-small>-->
          <!--        <pmp-product-small></pmp-product-small>-->
          <!--        <pmp-product-small></pmp-product-small>-->
          <!--        <pmp-product-small></pmp-product-small>-->
          <!--        <pmp-product-small></pmp-product-small>-->
          <!--        <pmp-product-small></pmp-product-small>-->
          <!--        <pmp-product-small></pmp-product-small>-->
          <!--        <pmp-product-small></pmp-product-small>-->
          <pmp-product-small [itemParams]="['param1', 'param2','param3','param3','param3']"
            [listView]=showProductsInListView></pmp-product-small>
          <pmp-product-small [listView]=showProductsInListView></pmp-product-small>
        </div>



        <div class="flex items-center justify-center mt-auto space-x-4 bg-gray-50">
          <button class="flex items-center justify-center">
            <ion-icon class="p-2" name="chevron-back-circle-outline"></ion-icon>
          </button>
          <span><input type="number" [defaultValue]="1"> from 96</span>
          <button class="flex items-center justify-center">
            <ion-icon class="p-2 " name="chevron-forward-circle-outline"></ion-icon>
          </button>
        </div>
      </div>
    </div>

  </div>

  <!--  Modal  -->

  <div class="fixed z-20 w-full overflow-auto rounded-lg md:left-1/3 top-1/3 md:top-2/5"
    [ngClass]="{'hidden': (!showModal)}">

    <div>
      <div class="flex justify-between p-2 bg-gray-400">
        <h3 class="text-2xl">Categories and filters</h3>
        <span (click)="toggleModal()" class="flex items-center justify-center bg-gray-400 cursor-pointer">
          <ion-icon name="close-outline"></ion-icon>
        </span>
      </div>

      <div>
        <button><span>Categories </span></button>
      </div>


    </div>
  </div>


  <div (click)="toggleModal()"
    class="fixed top-0 left-0 z-10 flex items-center justify-center w-full h-screen bg-black opacity-50 animate-fade-bg"
    [ngClass]="{'hidden': (!showModal)}">
  </div>

</section>
