<pmp-recommended-products></pmp-recommended-products>

<section class="flex my-4">
  <hr class="my-4 bg-black border-black rounded-lg">

  <span class="text-center font-bold" *nfIf="errorMessage">{{ errorMessage }}</span>

  <ng-container *ngIf="newestProduct">
    <div class="hidden w-2/5 min-h-full ml-8 border-2 border-black rounded-lg bg-gray-50 lg:block py-9">
      <div class="flex flex-col items-center justify-center">
        <h2 class="mx-auto mb-6 text-2xl">Newest product</h2>
        <div class="w-10/12 mx-auto">

          <img class="mx-auto object-contain w-4/5 shadow-lg" src="{{ newestProduct.imageUrl }}" alt="Photo">

        </div>
        <div class="w-3/5 mx-auto flex flex-col items-center">
          <span class="text-3xl my-14">{{ newestProduct.title }}</span>
          <span class="text-2xl mt-5">{{ newestProduct.price }}$</span>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="w-full mx-8 lg:w-3/5">
    <h1 class="my-4 text-4xl font-bold">Our choice </h1>

    <ul class="grid grid-cols-1 grid-rows-none row-auto gap-6 md:grid-cols-2 xl:grid-cols-3 sm:px-4 h-192 sm:h-auto">
      <li *ngFor="let product of ourChoiceProducts" class="flex justify-center">
        <pmp-product-small [product]="product"></pmp-product-small>
      </li>
    </ul>
  </div>

</section>

<hr class="my-4 bg-black border-black rounded-lg">

<section id="bestsellers">
  <h1 class="my-4 text-4xl font-bold">Bestsellers </h1>
  <div id="bestsellers-slider">
    <ng-container *ngIf="bestsellersProducts && bestsellersProducts.length > 0">
      <ngx-glide #ngxGlide [perView]="slidesPerView" [showBullets]="showBullets" [arrowLeftTemplate]="leftArrow"
        [arrowRightTemplate]="rightArrow" [bound]="bound"
        [breakpoints]="{'400': {perView: 1}, '1010': { perView: 2 }, '1270': { perView: 4 }}" class="m-5">
        <ng-container *ngFor="let product of bestsellersProducts">
          <pmp-product-small [product]="product"></pmp-product-small>
        </ng-container>
      </ngx-glide>
    </ng-container>
  </div>
</section>

<hr class="my-4 bg-black border-black rounded-lg">

<section id="movies">

  <h1 class="my-4 text-4xl font-bold">Movies </h1>

  <div id="movies-slider">
    <ng-container *ngIf="movies && movies.length > 0">
      <ngx-glide #ngxGlide [perView]=4 [showBullets]="showBullets" [arrowLeftTemplate]="leftArrow"
        [arrowRightTemplate]="rightArrow" [bound]="bound"
        [breakpoints]="{'400': {perView: 1},'1010': { perView: 2 }, '1270': { perView: 4 }}">
        <ng-container *ngFor="let movie of movies">

          <div class="m-5 min-h-37vh w-80 min-w-min p-4 flex flex-col justify-between rounded-lg shadow-lg cursor-pointer bg-gray-50
            hover:border-2 hover:border-black hover:shadow-lg">
            <span class="text-2xl h-24 text-left whitespace-normal pb-5">{{ movie.title }}</span>
            <img src="{{ movie.thumbUrl }}">
          </div>

        </ng-container>
      </ngx-glide>
    </ng-container>
  </div>

</section>

<pmp-newsletter></pmp-newsletter>
<router-outlet></router-outlet>

<ng-template #leftArrow>
  <button
    class="mx-3 absolute top-0 bottom-0 flex items-center justify-center w-10 h-10 my-auto duration-300 bg-white rounded-full shadow-lg -left-4 hover:bg-gray-400">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </button>
</ng-template>

<ng-template #rightArrow>
  <button
    class="mx-3 absolute top-0 bottom-0 flex items-center justify-center w-10 h-10 my-auto duration-300 bg-white rounded-full shadow-lg -right-4 hover:bg-gray-400">
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </button>
</ng-template>
