<div
  class="h-full border-2 border-transparent rounded-lg shadow-lg cursor-pointer bg-gray-50 hover:border-black hover:shadow-lg">


  <div class="flex h-full p-2 group" [ngClass]="listView ? 'flex-row p-8 items-start justify-between' : 'flex-col'">

    <div class="flex items-center" [ngClass]="listView ? 'flex-row' : 'flex-col'" routerLink="/product/{{product.id}}">
      <div class="self-center mt-4 sm:mt-0">
        <img class="object-contain h-48 w-48 rounded-lg" src="{{ product.imageUrl }}" alt="photo">
      </div>

      <div class="flex h-full items-center ml-4 sm:justify-between"
           [ngClass]="listView ? 'flex-col sm:flex-row w-full lg:pl-8 lg:pr-16' : 'flex-col'">
        <div class="relative space-y-4">
          <div class="flex flex-wrap">
            <span class="text-lg whitespace-normal">
              {{ product.title }}
            </span>
          </div>

          <ng-container *ngIf="productsParams">
            <ul *ngFor="let productParams of productsParams">
              <li>{{ productParams }}</li>
            </ul>
          </ng-container>

        </div>
      </div>
    </div>

    <div class="flex justify-between h-full ml-4" [ngClass]="listView ? 'flex-col' : 'flex-row items-center'">
      <span class="self-end py-2 text-lg">{{ product.price | currency }}</span>

      <ng-container *ngIf="!configMode; else configAdd">

        <button (click)="addItemToCart()" class="rotate-animation self-end hidden w-10 h-10 text-green-700 border-2 rounded-lg md:group-hover:block
          hover:border-green-700 hover:bg-green-700 hover:text-gray-50 sm:block">
          <span class="flex items-center justify-center">
            <ion-icon name="add-outline"></ion-icon>
          </span>
        </button>

      </ng-container>
      <ng-template #configAdd>
        <button (click)="addItemToConfigurator()" class="rotate-animation self-end hidden w-10 h-10 text-green-700 border-2 rounded-lg md:group-hover:block
          hover:border-green-700 hover:bg-green-700 hover:text-gray-50 sm:block">
          <span class="flex items-center justify-center">
            <ion-icon name="add-outline"></ion-icon>
          </span>
        </button>
      </ng-template>
    </div>

  </div>

</div>
