<section id="product-full" class="container">

  <div id="product-description" class="flex flex-col py-6 md:flex-row">

    <div class="w-3/4 mx-auto lg:mx-20">
      <img class="rounded-lg" src="{{ product.imageUrl }}" alt="{{ product.title }} image">
    </div>

    <div class="flex flex-col justify-center w-full">
      <div class="m-4">
        <h3 class="text-3xl text-center">{{ product.title }}</h3>
      </div>

      <div class="m-4">
        <h3 class="text-2xl text-center">{{ product.price | currency }}</h3>
      </div>

      <div class="mx-auto mt-8">
        <button (click)="addProductToCart()"
                class="p-4 text-green-700 bg-white border-4 border-green-700 rounded-lg md:group-hover:block hover:border-green-700 hover:bg-green-700 hover:text-gray-50 sm:block">
          <div class="flex items-center text-center justify-items-center">
            <ion-icon class="w-8 h-8" name="bag-add-outline"></ion-icon>
            <span class="ml-2">Add to basket</span>
          </div>
        </button>
      </div>
    </div>

  </div>

  <div class="m-5">

    <div class="flex flex-col items-center w-3/4 mx-auto">
      <ion-icon (click)="showFullText()" class="w-20 h-20 cursor-pointer" name="clipboard-outline"></ion-icon>

      <p id="description" (click)="showFullText()"
         class="w-full text-lg tracking-wide text-left truncate md:overflow-visible md:whitespace-normal"
         [ngClass]="showFullDescription ? 'overflow-visible whitespace-normal' : 'truncate'">
        {{ product.description }}
      </p>

    </div>
  </div>

  <hr class="h-1 text-black bg-black">

  <div id="product-details" class="px-2">

    <h2 class="my-2 text-3xl">Details</h2>

    <div class="flex items-center justify-center">
      <table class="w-3/4 my-4 border-collapse table-auto">
        <tr class="w-full bg-gray-200" *ngFor="let productDetail of productDetails">
          <ng-container *ngIf="productDetail.attributeValue && productDetail.attributeValue !== '0' && productDetail.attributeValue !== '0.0'">
          <th class="w-1/2 py-2 text-left border-t border-b border-gray-400"><span
            class="ml-8">{{ productDetail.attributeName | translate }}</span>
          </th>
          <th class="w-1/2 py-2 border-t border-b border-gray-400"><span
            class="float-left">{{ productDetail.attributeValue }}</span>
          </th>
          </ng-container>
        </tr>
      </table>
    </div>
  </div>

  <pmp-newsletter></pmp-newsletter>

</section>
