<div class="mx-auto bg-gray-50 md:px-14 pt-3">

  <nav class="mb-1 flex flex-wrap sm:justify-between md:flex-nowrap">

     <span class="object-contain">
        <img src="assets/logo.svg" alt="PMP logo" class="cursor-pointer" style="height: 50px;">
     </span>


    <ul class="flex items-center md:order-2">
      <li class="px-5 cursor-pointer rounded hover:bg-gray-200 hover:shadow"><a class="flex flex-col items-center">
        <ion-icon name="person-outline"></ion-icon>
        Account</a></li>
      <li class="px-5 cursor-pointer rounded hover:bg-gray-200 hover:shadow"><a class="flex flex-col items-center">
        <ion-icon name="basket-outline"></ion-icon>
        Basket</a></li>
    </ul>

    <div class="w-full flex items-center justify-center">

          <button (click)="toggleMenu()" class="hamburger hamburger--collapse-r lg:hidden" [ngClass]="{'is-active': showMenu}" type="button" id="navbar-btn">
             <span class="hamburger-box">
                 <span class="hamburger-inner"></span>
            </span>
          </button>


      <div class="flex items-center bg-white border border-black border-2 rounded-full h-8 m-2 order-1 w-3/4 shadow">
        <input class="ml-5 h-6 w-10/12" type="text" placeholder="Search">
        <select class="w-56 h-6 w-3/12 hidden sm:block">
          <option selected>Everywhere</option>
        </select>
        <button class="flex items-center justify-center bg-gray-600 rounded-full h-8 w-24 relative -right-2">
          <ion-icon name="search"></ion-icon>
        </button>
      </div>

    </div>
  </nav>


  <hr class="mb-1.5 hidden sm:block">
  <nav class="px-1" [ngClass]="{'hidden': !showMenu}" class="lg:block">
    <h4 [ngClass]="{'hidden': !showMenu}" class="lg:hidden">Categories:</h4>
    <ul id="categories" class="flex flex-col lg:flex-row lg:justify-between">
      <li (mouseenter)="showModal()" (mouseleave)="removeModal()"
          class="p-2 cursor-pointer rounded-t hover:bg-gray-200 hover:shadow"><a class="flex items-center">
        <ion-icon name="laptop-outline" class="pr-2"></ion-icon>
        Laptops
      </a></li>
      <li class="p-2 cursor-pointer rounded-t hover:bg-gray-200 hover:shadow" (mouseenter)="showModal()"
          (mouseleave)="removeModal()"><a class="flex items-center">
        <ion-icon name="desktop-outline" class="pr-2"></ion-icon>
        Computers</a></li>
      <li class="p-2 cursor-pointer rounded-t hover:bg-gray-200 hover:shadow" (mouseenter)="showModal()"
          (mouseleave)="removeModal()"><a class="flex items-center">
        <ion-icon name="phone-portrait-outline" class="pr-1"></ion-icon>
        Smartphones</a></li>
      <li class="p-2 cursor-pointer rounded-t hover:bg-gray-200 hover:shadow" (mouseenter)="showModal()"
          (mouseleave)="removeModal()"><a class="flex items-center font-bold">
        <ion-icon name="hammer-outline" class="pr-2"></ion-icon>
        Build PC</a></li>
      <li class="p-2 cursor-pointer rounded-t hover:bg-gray-200 hover:shadow" (mouseenter)="showModal()"
          (mouseleave)="removeModal()"><a class="flex items-center">
        <ion-icon name="hardware-chip-outline" class="pr-2"></ion-icon>
        Computer assets</a></li>
      <li class="p-2 cursor-pointer rounded-t hover:bg-gray-200 hover:shadow" (mouseenter)="showModal()"
          (mouseleave)="removeModal()"><a class="flex items-center">
        <ion-icon name="print-outline" class="pr-2"></ion-icon>
        Peripherals</a></li>
      <li class="p-2 cursor-pointer rounded-t hover:bg-gray-200 hover:shadow" (mouseenter)="toggleModal()"
          (mouseleave)="toggleModal()"><a class="flex items-center">
        <ion-icon name="headset-outline" class="pr-2"></ion-icon>
        Accessories</a></li>
    </ul>
  </nav>
</div>


<div class="backdrop h-screen w-full fixed left-0 top-0 flex justify-center items-center bg-black bg-opacity-50" [ngClass]="{'hidden': !showMenu || toggleBackdrop}">
</div>
