<div class="mx-auto bg-purple-700 px-14 py-3">
  <nav class="flex justify-between items-center mb-2">
    <div>
      <span>
        <img src="assets/logo.svg" alt="PMP logo" style="height: 40px;">
      </span>
    </div>
    <div>
      <form>
      <span>
      <input id="searchBar" type="text" placeholder="Search for items" class=""/>
        <select>
          <option selected>Look Everywhere</option>
        </select>
        <button>Search</button>
      </span>
      </form>
    </div>
    <ul class="flex flex-row">
      <li class="pr-5"><a class="flex flex-col items-center">
        <ion-icon name="person-outline" class="pr-2"></ion-icon>Your account</a></li>
      <li class="pr-5"><a class="flex flex-col items-center">
        <ion-icon name="basket-outline" class="pr-2"></ion-icon>Basket</a></li>
    </ul>
  </nav>
  <hr class="mb-1.5">
  <nav class="px-1">
    <ul class="flex justify-around">
      <li><a class="flex items-center">
        <ion-icon name="laptop-outline" class="pr-2"></ion-icon>Laptops
      </a></li>
      <li><a class="flex items-center">
        <ion-icon name="desktop-outline" class="pr-2"></ion-icon>Computers</a></li>
      <li><a class="flex items-center">
        <ion-icon name="phone-portrait-outline" class="pr-1"></ion-icon>Smartphones</a></li>
      <li><a class="flex items-center font-bold">
        <ion-icon name="hammer-outline" class="pr-2"></ion-icon>Build PC</a></li>
      <li><a class="flex items-center">
        <ion-icon name="hardware-chip-outline" class="pr-2"></ion-icon>Computer assets</a></li>
      <li><a class="flex items-center">
        <ion-icon name="print-outline" class="pr-2"></ion-icon>Peripherals</a></li>
      <li><a class="flex items-center">
        <ion-icon name="desktop-outline" class="pr-2"></ion-icon>Accessories</a></li>
    </ul>
  </nav>
</div>

