<section id="privacy-policy" class="py-8 mx-8 md:mx-24">

  <div>
    <h3 class="mb-4 text-lg font-bold md:text-3xl">Privacy policy for PimpMyPc users</h3>

    <span class="mx-auto text-lg md:text-xl">We care about your privacy</span>

    <p class="mt-8 mb-6 md:text-lg">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consectetur consequuntur corporis cum
      doloribus dolorum error fuga id iusto laudantium libero, nisi obcaecati perferendis perspiciatis quasi repudiandae
      sequi tempora tempore. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <ol class="ml-8 space-y-3 list-decimal md:text-lg">
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque debitis deleniti dolor dolorum enim error
        est exercitationem impedit ipsam, laborum nostrum, placeat praesentium quis quod sed, sequi ut voluptatum.
      </li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque debitis deleniti dolor dolorum enim error
        est exercitationem impedit ipsam, laborum nostrum, placeat praesentium quis quod sed, sequi ut voluptatum.
      </li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque debitis deleniti dolor dolorum enim error
        est exercitationem impedit ipsam, laborum nostrum, placeat praesentium quis quod sed, sequi ut voluptatum.
      </li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque debitis deleniti dolor dolorum enim error
        est exercitationem impedit ipsam, laborum nostrum, placeat praesentium quis quod sed, sequi ut voluptatum.
      </li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque debitis deleniti dolor dolorum enim error
        est exercitationem impedit ipsam, laborum nostrum, placeat praesentium quis quod sed, sequi ut voluptatum. Lorem
        ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores assumenda consequuntur, earum esse eum
        explicabo magni molestias numquam, omnis provident, quam quasi sed suscipit tenetur! Dicta dolorem eligendi est.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda at, corporis culpa dolores eos eveniet
        facere iusto laborum numquam officia porro quae quaerat, quasi, tenetur voluptas voluptatem. Ab, quasi?
      </li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque debitis deleniti dolor dolorum enim error
        est exercitationem impedit ipsam, laborum nostrum, placeat praesentium quis quod sed, sequi ut voluptatum.
      </li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque debitis deleniti dolor dolorum enim error
        est exercitationem impedit ipsam, laborum nostrum, placeat praesentium quis quod sed, sequi ut voluptatum.
      </li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque debitis deleniti dolor dolorum enim error
        est exercitationem impedit ipsam, laborum nostrum, placeat praesentium quis quod sed, sequi ut voluptatum.
      </li>
    </ol>

  </div>

</section>
