<section id="sign-in" class="min-h-100vh">

  <div class="flex flex-col items-center justify-center w-full sm:flex-row md:space-x-32">
    <div class="hidden m-12 md:block md:w-2/5 lg:w-auto">
      <img src="assets/logo.svg" alt="PimpMyPc logo">
    </div>

    <div id="sign-in-form" class="p-6 m-6 border-2 border-black rounded-lg w-1/3">

      <h2 class="mb-6 text-3xl">Sign in</h2>

      <form class="flex flex-col p-2" [formGroup]="loginForm" novalidate>
        <label class="text-lg font-bold" for="username">Username</label>
        <input formControlName="username" name="username" class="my-4" type="text" [ngClass]="{'is-invalid': (loginForm.get('username')?.touched
          ||
          loginForm.get('username')?.dirty) &&
          !loginForm.get('username')?.valid }">

        <span class="error-message" *ngIf="loginForm.get('username')?.errors?.required &&
        loginForm.get('username')?.touched">
          Please enter your city username.
        </span>


        <label class="text-lg font-bold" for="password">Password</label>
        <input name="password" class="my-4" type="password" formControlName="password" [ngClass]="{'is-invalid': (loginForm.get('password')?.touched
          ||
          loginForm.get('password')?.dirty) &&
          !loginForm.get('password')?.valid }">

        <span class="error-message mb-4" *ngIf="loginForm.get('password')?.errors?.required &&
        loginForm.get('password')?.touched">
          Please enter your password.
        </span>


        <span *ngIf="errorMsg" class="mb-4 font-bold text-center text-red-500">{{ errorMsg }}</span>

        <ng-container *ngIf="loading">
          <pmp-loading-dots></pmp-loading-dots>
        </ng-container>


        <input (click)="loginUser()" type="submit" value="Sign in" [disabled]="loading" class="mt-2"
          [ngClass]="{'bg-gray-500' : loading}" class="px-4 py-2 bg-blue-600 rounded-full cursor-pointer">

      </form>

    </div>
  </div>

  <div class="flex flex-col items-center">
    <h3 class="my-4 text-3xl">Don't have an account?</h3>

    <div class="px-4 py-2 bg-blue-600 rounded-full cursor-pointer">
      <button routerLink="/register" class="">Create account</button>
    </div>

    <h3 class="my-4 text-2xl">What are the benefits</h3>

    <ul class="text-lg font-bold">
      <li class="flex items-center p-4">
        <ion-icon name="rocket-outline" class="w-12 h-12 pr-2"></ion-icon>
        Speed your way through checkout
      </li>
      <li class="flex items-center p-4">
        <ion-icon name="file-tray-full-outline" class="w-12 h-12 pr-2"></ion-icon>
        Keep a record of all your purchases
      </li>
      <li class="flex items-center p-4">
        <ion-icon name="footsteps-outline" class="w-12 h-12 pr-2"></ion-icon>
        Track your orders easily
      </li>
      <li class="flex items-center p-4">
        <ion-icon name="cash-outline" class="w-12 h-12 pr-2"></ion-icon>
        Discover new offers and discounts
      </li>
    </ul>
  </div>


</section>
