<section id="regulations" class="mx-24">

  <div>
    <h3 class="text-3xl font-bold mb-4">Regulations</h3>

    <p class="mb-12 text-lg">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consectetur consequuntur corporis cum
      doloribus dolorum error fuga id iusto laudantium libero, nisi obcaecati perferendis perspiciatis quasi repudiandae
      sequi tempora tempore. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <ol class="list-decimal text-lg ml-8 space-y-3">
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque debitis deleniti dolor dolorum enim error
        est exercitationem impedit ipsam, laborum nostrum, placeat praesentium quis quod sed, sequi ut voluptatum.
      </li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque debitis deleniti dolor dolorum enim error
        est exercitationem impedit ipsam, laborum nostrum, placeat praesentium quis quod sed, sequi ut voluptatum.
      </li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque debitis deleniti dolor dolorum enim error
        est exercitationem impedit ipsam, laborum nostrum, placeat praesentium quis quod sed, sequi ut voluptatum.
      </li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque debitis deleniti dolor dolorum enim error
        est exercitationem impedit ipsam, laborum nostrum, placeat praesentium quis quod sed, sequi ut voluptatum.
      </li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque debitis deleniti dolor dolorum enim error
        est exercitationem impedit ipsam, laborum nostrum, placeat praesentium quis quod sed, sequi ut voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores assumenda consequuntur, earum esse eum explicabo magni molestias numquam, omnis provident, quam quasi sed suscipit tenetur! Dicta dolorem eligendi est. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda at, corporis culpa dolores eos eveniet facere iusto laborum numquam officia porro quae quaerat, quasi, tenetur voluptas voluptatem. Ab, quasi?
      </li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque debitis deleniti dolor dolorum enim error
        est exercitationem impedit ipsam, laborum nostrum, placeat praesentium quis quod sed, sequi ut voluptatum.
      </li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque debitis deleniti dolor dolorum enim error
        est exercitationem impedit ipsam, laborum nostrum, placeat praesentium quis quod sed, sequi ut voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus doloribus dolorum eius eos nemo nobis non quas ratione reiciendis sit! Iure nihil quam rerum temporibus voluptas! Beatae illum itaque iure.
      </li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque debitis deleniti dolor dolorum enim error
        est exercitationem impedit ipsam, laborum nostrum, placeat praesentium quis quod sed, sequi ut voluptatum.
      </li>
    </ol>

  </div>

</section>
