<div class="sticky top-0 z-20 pt-3 mx-auto shadow-lg bg-gray-50 md:px-14">

  <nav class="flex flex-wrap sm:justify-between md:flex-nowrap">

    <a routerLink="/">
      <span class="object-contain">
        <img src="assets/logo.svg" alt="PMP logo" class="cursor-pointer" style="height: 50px;">
      </span>
    </a>


    <ul class="flex items-center md:order-2">
      <li *ngIf="isUserLoggedIn" class="h-full">
        <button (click)="logout()"
          class="px-5 rounded cursor-pointer bg-gray-300 hover:bg-blue-500 hover:shadow h-full flex justify-center items-center">
          Logout
        </button>
      </li>
      <li class="px-5 rounded cursor-pointer hover:bg-gray-200 hover:shadow"><a class="flex flex-col items-center"
          routerLink="/account">
          <ion-icon name="person-outline"></ion-icon>
          Account
        </a></li>
      <li class="px-5 rounded cursor-pointer hover:bg-gray-200 hover:shadow"><a
          class="relative flex flex-col items-center" routerLink="/order/cart">
          <ion-icon name="basket-outline"></ion-icon>
          Cart
          <ng-container *ngIf="numberOfItemsInCart > 0">
            <div class="flex justify-center items-center h-6 w-6 bg-green-600 rounded-full absolute top-2.5 -left-5">
              <span class="font-semibold">{{ numberOfItemsInCart }}</span>
            </div>
          </ng-container>
        </a></li>
    </ul>

    <div class="flex items-center justify-center w-full">

      <button (click)="toggleMenu()" class="hamburger hamburger--collapse-r lg:hidden"
        [ngClass]="{'is-active': showMenu}" type="button" id="navbar-btn">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>


      <div class="flex items-center order-1 w-3/4 h-8 m-2 bg-white border-2 border-black rounded-full shadow">
        <input class="border-0" type="search" placeholder="Search" [(ngModel)]="searchPhrase"
          (keyup.enter)="searchProduct()">
        <select (change)="changeCurrentSearchCategory($event)">
          <option selected>Everywhere</option>
          <option *ngFor="let category of mainCategories">{{ category.name }}</option>
        </select>
        <button (click)="searchProduct()"
          class="relative flex items-center justify-center w-24 h-8 bg-gray-600 rounded-full -right-2">
          <ion-icon name="search"></ion-icon>
        </button>
      </div>

    </div>
  </nav>

  <!--      Desktop menu      -->

  <nav class="hidden px-1 lg:block" role="navigation">
    <hr class="my-1.5">
    <ul id="main-menu" class="flex flex-col lg:flex-row lg:justify-between">
      <li *ngFor="let category of mainCategories" (mouseenter)="toggleModal();" (mouseleave)="toggleModal()"
        class="relative p-2 rounded-t cursor-pointer hover:bg-gray-400">
        <a routerLink='/categories/{{ category.endpointName | lowercase }}' [queryParams]="{page: 1}"
          class="flex items-center">
          <ion-icon name="{{ category.iconName }}" class="pr-2"></ion-icon>
          {{ category.name }}
        </a>

        <div id="sub-menu" class="absolute left-0 hidden rounded-b-lg top-10 bg-gray-50 animate-fade-in-down">
          <ul *ngFor="let firstLevelMenuItem of category.firstLevelMenu" class="pb-4">

            <li class="relative flex items-center w-full">
              <a class="p-3 hover:bg-gray-400 w-full flex justify-between items-center"
                routerLink='/categories/{{ firstLevelMenuItem.endpointName | lowercase }}' [queryParams]="{page: 1}">
                <span>{{ firstLevelMenuItem.name }}</span>

                <ion-icon *ngIf="firstLevelMenuItem.secondLevelMenu" name="caret-forward-outline"></ion-icon>

              </a>
              <div *ngIf="firstLevelMenuItem.secondLevelMenu"
                class="absolute top-0 rounded-tr-lg rounded-bl-lg rounded-br-lg left-full bg-gray-50 w-44">
                <ul class="hidden pb-4 animate-fade-in-down">
                  <li class="relative flex items-center w-full"
                    *ngFor="let secondLevelMenuItem of firstLevelMenuItem.secondLevelMenu">
                    <a class="p-3 hover:bg-gray-400 w-full" (click)="setFilter(secondLevelMenuItem.filterParams)"
                      routerLink="/categories/{{ firstLevelMenuItem.endpointName | lowercase }}"
                      [queryParams]="secondLevelMenuItem.filterParams">
                      {{ secondLevelMenuItem.name }}
                    </a>

                  </li>
                </ul>
              </div>
            </li>

          </ul>
        </div>

      </li>
      <li class="flex items-center">
        <a class="flex items-center" routerLink='/build-pc'>
          <ion-icon class="mr-2" name='hammer-outline'></ion-icon>
          Build PC
        </a>
      </li>
    </ul>
  </nav>

</div>

<!--     Mobile menu     -->

<div id="wrapper" class="fixed z-20 w-64 h-full overflow-hidden" [ngClass]="{'hidden' : !showMenu}">

  <div id="mobile-menu" class="absolute top-0 left-0 w-64 h-full bg-gray-50">

    <ul class="divide-y-2 divide-gray-300">
      <li *ngFor="let category of mainCategories" class="divide-y-2 ">
        <a [routerLink]="canMoveDeeperInMenu(category)">
          <label class="flex m-3 cursor-pointer" for="menu-{{ category.name }}">
            <ion-icon name="{{ category.iconName }}" class="pr-2"></ion-icon>
            {{ category.name }}
          </label>
        </a>

        <input type="checkbox" id="menu-{{ category.name }}" name="menu-1" class="menu-checkbox">
        <div *ngIf="category.firstLevelMenu" class="menu">
          <ul *ngFor="let firstLevelMenuItem of category.firstLevelMenu">
            <li>
              <a [routerLink]="canMoveDeeperInMenu(firstLevelMenuItem)">

                <label class="p-3 label-style" for="menu-{{ firstLevelMenuItem.name }}">
                  {{ firstLevelMenuItem.name }}
                  <ion-icon *ngIf="firstLevelMenuItem.secondLevelMenu" name="caret-forward-outline"></ion-icon>
                </label>
              </a>
              <div *ngIf="firstLevelMenuItem.secondLevelMenu">
                <input type="checkbox" id="menu-{{ firstLevelMenuItem.name }}" name="menu-2" class="menu-checkbox">
                <div class="menu">
                  <ul *ngFor="let secondLevelMenuItem of firstLevelMenuItem.secondLevelMenu">
                    <li class="p-3">
                      <a routerLink="/categories/{{ firstLevelMenuItem.endpointName }}"
                        [queryParams]="secondLevelMenuItem.filterParams">
                        <label class="label-style">{{ secondLevelMenuItem.name }}</label>
                      </a>
                    </li>
                  </ul>
                  <hr>
                  <div class="flex items-center justify-center">
                    <ion-icon name="arrow-back-outline"></ion-icon>
                    <label for="menu-{{ firstLevelMenuItem.name }}" class="label-style">Go back</label>
                  </div>
                </div>
              </div>

            </li>
          </ul>
          <hr>
          <div class="flex items-center justify-center">
            <ion-icon name="arrow-back-outline"></ion-icon>
            <label for="menu-{{ category.name }}" class="label-style">Go back</label>
          </div>
        </div>

      </li>
      <li class="flex items-center p-3">
        <a routerLink='/build-pc' class="flex items-center">
          <ion-icon class="mr-2" name='hammer-outline'></ion-icon>
          Build PC
        </a>
      </li>
    </ul>

  </div>
</div>


<div (click)="toggleMenu()"
  class="fixed top-0 left-0 z-10 flex items-center justify-center w-full h-screen bg-black opacity-50 animate-fade-bg"
  [ngClass]="{'hidden': (!showMenu && toggleBackdrop)}">
</div>
