
.menu-checkbox {
  display: none;
}

.menu-checkbox:checked + .menu {
  transform: translate3d(0, 0, 0);
}

#main-menu li:hover div {
  display: block;
}

#sub-menu ul li:hover div ul {
  display: block;
}

.hide-nav {
  display: none;
}




