<div class="sticky top-0 z-20 pt-3 mx-auto shadow-lg bg-gray-50 md:px-14">

  <nav class="flex flex-wrap sm:justify-between md:flex-nowrap">

    <a routerLink="/">
      <span class="object-contain">
        <img src="assets/logo.svg" alt="PMP logo" class="cursor-pointer" style="height: 50px;">
      </span>
    </a>


    <ul class="flex items-center md:order-2">
      <li class="px-5 rounded cursor-pointer hover:bg-gray-200 hover:shadow"><a class="flex flex-col items-center"
                                                                                routerLink="/account">
        <ion-icon name="person-outline"></ion-icon>
        Account
      </a></li>
      <li class="px-5 rounded cursor-pointer hover:bg-gray-200 hover:shadow"><a
        class="flex flex-col items-center relative"
        routerLink="/cart">
        <ion-icon name="basket-outline"></ion-icon>
        Cart
        <ng-container *ngIf="numberOfItemsInCart > 0">
          <div class="flex justify-center items-center h-6 w-6 bg-green-600 rounded-full absolute top-2.5 -left-5">
            <span class="font-semibold">{{ numberOfItemsInCart }}</span>
          </div>
        </ng-container>
      </a></li>
    </ul>

    <div class="flex items-center justify-center w-full">

      <button (click)="toggleMenu()" class="hamburger hamburger--collapse-r lg:hidden"
              [ngClass]="{'is-active': showMenu}" type="button" id="navbar-btn">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>


      <div class="flex items-center order-1 w-3/4 h-8 m-2 bg-white border-2 border-black rounded-full shadow">
        <input class="w-10/12 h-6 ml-5" type="text" placeholder="Search" [(ngModel)]="searchPhrase">
        <select (change)="changeCurrentSearchCategory($event)"
                class="hidden w-3/12 h-6 sm:block">
          <option selected>Everywhere</option>
          <option *ngFor="let category of mainCategories">{{ category.name }}</option>
        </select>
        <button (click)="searchProduct()"
                class="relative flex items-center justify-center w-24 h-8 bg-gray-600 rounded-full -right-2">
          <!--                        routerLink="/search"-->
          <!--                        [queryParams]="{q: searchPhrase, cat: currentSearchCategory}"-->
          <!--        class="relative flex items-center justify-center w-24 h-8 bg-gray-600 rounded-full -right-2">-->
          <ion-icon name="search"></ion-icon>
        </button>
      </div>

    </div>
  </nav>


  <!--      Desktop menu      -->


  <nav class="hidden px-1 lg:block" role="navigation">
    <hr class="my-1.5">
    <ul id="main-menu" class="flex flex-col lg:flex-row lg:justify-between">
      <li *ngFor="let category of mainCategories" (mouseenter)="toggleModal();" (mouseleave)="toggleModal()"
          class="relative p-2 rounded-t cursor-pointer hover:bg-gray-400">
        <a routerLink='/categories/{{ category.name | lowercase }}' [queryParams]="{page: 1}"
           class="flex items-center">
          <ion-icon name="{{ category.iconName }}" class="pr-2"></ion-icon>
          {{ category.name }}
        </a>

        <div id="sub-menu" class="absolute left-0 hidden rounded-b-lg top-10 bg-gray-50 animate-fade-in-down">
          <ul *ngFor="let subMenuItem of category.subMenu" class="pb-4">
            <li class="relative flex items-center p-3 hover:bg-gray-400">
              <a routerLink='/categories/{{ subMenuItem.endpointName | lowercase }}'
                 [queryParams]="{page: 1}">
                {{ subMenuItem.name }}
              </a>
              <div *ngIf="subMenuItem.innerMenu"
                   class="absolute top-0 rounded-tr-lg rounded-bl-lg rounded-br-lg left-full bg-gray-50 w-44">
                <ul *ngFor="let innerMenuItem of subMenuItem.innerMenu"
                    class="hidden pb-4 animate-fade-in-down">
                  <li class="p-3 hover:bg-gray-400">
                    <a
                      routerLink="/categories/{{ category.name | lowercase}}/{{ innerMenuItem }}">
                      {{ innerMenuItem }}
                    </a>
                  </li>
                </ul>
              </div>

            </li>
          </ul>
        </div>

      </li>
    </ul>
  </nav>
</div>

<!--     Mobile menu     -->

<div id="wrapper" class="absolute z-20 w-64 h-full overflow-hidden" [ngClass]="{'hidden' : !showMenu}">

  <div id="mobile-menu" class="absolute top-0 left-0 w-64 h-full bg-gray-50">

    <ul class="divide-y-2 divide-gray-300">
      <li *ngFor="let category of mainCategories" class="divide-y-2 ">
        <label class="flex m-3 cursor-pointer" for="menu-{{ category.name }}">
          <ion-icon name="{{ category.iconName }}" class="pr-2"></ion-icon>
          {{ category.name }}
        </label>

        <input type="checkbox" id="menu-{{ category.name }}" name="menu-1" class="menu-checkbox">
        <div *ngIf="category.subMenu" class="menu">
          <ul *ngFor="let subMenuItem of category.subMenu">
            <li>
              <!--              <label class="m-3 label-style" for="menu-{{ subMenuItem.name }}">{{ subMenuItem.name }}-->
              <!--                <ion-icon *ngIf="subMenuItem.innerMenu" name="caret-forward-outline"></ion-icon>-->
              <!--              </label>-->

              <!--              <div *ngIf="subMenuItem.innerMenu">-->
              <!--                <input type="checkbox" id="menu-{{ subMenuItem.name }}" name="menu-2" class="menu-checkbox">-->
              <!--                <div class="menu">-->
              <!--                  <ul *ngFor="let innerMenuItem of subMenuItem.innerMenu">-->
              <!--                    <li class="m-3">-->
              <!--                      <label class="label-style">{{ innerMenuItem }}</label>-->
              <!--                    </li>-->
              <!--                  </ul>-->
              <!--                  <hr>-->
              <!--                  <div class="flex items-center justify-center">-->
              <!--                    <ion-icon name="arrow-back-outline"></ion-icon>-->
              <!--                    <label for="menu-{{ subMenuItem.name }}" class="label-style">Go back</label>-->
              <!--                  </div>-->
              <!--                </div>-->
              <!--              </div>-->

            </li>
          </ul>
          <hr>
          <div class="flex items-center justify-center">
            <ion-icon name="arrow-back-outline"></ion-icon>
            <label for="menu-{{ category.name }}" class="label-style">Go back</label>
          </div>
        </div>

      </li>
    </ul>

  </div>
</div>


<div (click)="toggleMenu()"
     class="fixed top-0 left-0 z-10 flex items-center justify-center w-full h-screen bg-black opacity-50 animate-fade-bg"
     [ngClass]="{'hidden': (!showMenu && toggleBackdrop)}">
</div>
