<section id="about-us" class="py-8 mx-8 md:mx-24">

  <div>
    <h3 class="mb-4 text-lg font-bold md:text-3xl">About us</h3>
    <p class="md:text-lg">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda doloribus earum eos incidunt labore
      laboriosam maxime numquam porro, quos, repudiandae saepe. Animi cupiditate, deleniti hic nulla tempora veniam
      vero.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet aperiam aspernatur blanditiis corporis culpa,
      dolorem, ea hic in ipsum minima molestiae, numquam officiis quidem quis quisquam quos sequi veniam?
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque delectus est labore magni optio quas
      quod reiciendis veritatis vitae.
      Architecto ex id minus molestiae quaerat quam similique vel, veniam? Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Accusantium ad animi
      blanditiis cupiditate debitis deserunt doloribus ducimus explicabo illo incidunt odio optio possimus praesentium
      quia quisquam repellat repudiandae,
      suscipit ullam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab incidunt ipsum, magni neque officia
      quas temporibus vel! Ab adipisci
      aliquam dignissimos dolorem, eos ipsum mollitia neque omnis totam velit? Quas.
    </p>
  </div>

  <div class="mt-12">
    <h3 class="mb-4 text-lg font-bold md:text-3xl">Why us ?</h3>
    <p class="mb-12 md:text-lg">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consectetur consequuntur corporis cum
      doloribus dolorum error fuga id iusto laudantium libero, nisi obcaecati perferendis perspiciatis quasi repudiandae
      sequi tempora tempore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi possimus quos rerum saepe
      ut! Cum necessitatibus, praesentium. Accusamus alias distinctio dolorum facere id magnam maiores, nemo, odit
      officia temporibus, vitae? Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusantium asperiores,
      consequuntur corporis cum, dicta dolorem, earum est excepturi modi nulla odio odit omnis praesentium provident
      quaerat sapiente sunt.</p>
    <ul class="ml-8 list-disc md:text-lg">
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque debitis deleniti dolor dolorum enim error
        est exercitationem impedit ipsam, laborum nostrum, placeat praesentium quis quod sed, sequi ut voluptatum.
      </li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque debitis deleniti dolor dolorum enim error
        est exercitationem impedit ipsam, laborum nostrum, placeat praesentium quis quod sed, sequi ut voluptatum.
      </li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque debitis deleniti dolor dolorum enim error
        est exercitationem impedit ipsam, laborum nostrum, placeat praesentium quis quod sed, sequi ut voluptatum.
      </li>
    </ul>

  </div>

</section>
