<section id="returns">
  <h3 class="text-3xl font-bold mb-4">Returns and complains</h3>


      <div class="flex w-full sm:w-2/3 border border-black shadow-lg rounded-lg mx-auto mt-16">
        <div class="bg-gray-400 w-full bg-opacity-40 p-4">
          <h4 class="mb-4 font-bold text-2xl">Check returns status</h4>
          <div class="flex divide-x-4">
          <div class="w-full p-4">
            <form class="flex flex-col space-y-4">
              <input type="text" placeholder="E-mail address or phone number">
              <input type="text" placeholder="Order id">
              <button type="submit" class="bg-blue-600 text-white py-2 rounded-full w-2/3 mx-auto">Check status</button>
            </form>
          </div>

          </div>
        </div>
      </div>

      <div class="border border-black rounded-lg p-4 mt-8 bg-gray-50 mb-4 sm:mb-0">
        <span class="text-2xl font-bold">Order id: 9999999999</span>
        <div class="flex items-center">
        <div class="m-4">
          <img src="https://picsum.photos/90/90">
        </div>
        <div class="m-4">
          Product long name...
        </div>
        </div>

        <span class="text-xl font-bold">Status: <span class="text-green-700">In progress</span></span>
      </div>

</section>
