<section id="newsletter">

  <div class="flex justify-center items-center p-8 w-full">
    <div class="flex items-center justify-between w-full sm:w-4/5 lg:w-1/2 h-auto bg-gray-50 p-6 rounded-lg border border-black">
      <div class="w-3/5">
        <h3 class="text-2xl my-2">Newsletter</h3>
        <p class="mb-2">Dont miss any sale, gain new promos.</p>
        <div class="flex items-center bg-gray-50 border border-black border-2 rounded-full h-8">
          <input class="ml-3 h-6 w-10/12" type="text" placeholder="Your e-mail">
          <button class="flex items-center justify-center bg-blue-600 rounded-full h-8 w-24 font-bold relative -right-2">
            Sign up
          </button>
        </div>
      </div>

      <ion-icon class="mr-4 h-20 w-20 md:h-28 md:w-28 " name="newspaper-outline"></ion-icon>
    </div>
  </div>

</section>
