<section id="contact-us">

  <div class="flex w-full mt-8 flex-col md:flex-row">
    <div class="p-4 w-full md:w-1/2 shadow-lg md:rounded-lg md:px-24 md:py-4 bg-gray-50 mr-4">
      <h3 class="mb-4 text-3xl font-bold">Contact</h3>
      <span class="flex items-center ml-2">
        <ion-icon name="call-outline" class="mr-3"></ion-icon>000-000-000
      </span>
      <span class="flex items-center m-2">
        <ion-icon name="mail-outline" class="mr-3"></ion-icon>e-mail@mail.com
      </span>
      <div class="flex justify-between">
        <span class="mr-4">Mon - Fri </span>
        <span>8:00 AM - 6:00 PM</span>
      </div>
    </div>

    <div
      class="p-4 w-full md:w-1/2 border-t-2 border-black shadow-lg md:rounded-lg md:px-24 md:py-4 bg-gray-50 md:border-0">
      <h3 class="mb-4 text-3xl font-bold">Office</h3>
      <span class="flex items-center ml-2">
        <ion-icon name="call-outline" class="mr-3"></ion-icon>111-111-111
      </span>
      <span class="flex items-center m-2">
        <ion-icon name="mail-outline" class="mr-3"></ion-icon>office@mail.com
      </span>
      <span class="flex items-center m-2">
        <ion-icon name="business-outline" class="mr-3"></ion-icon>
        <span>Street 40, 00-000 City</span>
      </span>
      <div class="flex justify-between">
        <span class="mr-4">Mon - Fri </span>
        <span>8:00 AM - 6:00 PM</span>
      </div>
    </div>
  </div>


  <hr class="h-1 my-8 bg-black rounded-full">

  <div class="flex justify-center w-full pb-8 mt-16">
    <form novalidate class="flex flex-col w-4/5 p-8 border border-black rounded-lg md:w-2/5"
      [formGroup]="contactUsForm">

      <h3 class="mb-4 text-3xl font-bold">Contact us</h3>

      <label class="font-bold mb-2" for="email">E-mail address</label>
      <input formControlName="email" id="email" class="mb-4" type="text" placeholder="Your e-mail" [ngClass]="{'is-invalid': (contactUsForm.get('email')?.touched
          ||
          contactUsForm.get('email')?.dirty) &&
          !contactUsForm.get('email')?.valid }" />

      <span class="error-message" *ngIf="contactUsForm.get('email')?.errors?.required &&
        contactUsForm.get('email')?.touched">
        E-mail address is required.
      </span>
      <span class="error-message" *ngIf="contactUsForm.get('email')?.errors?.email">
        E-mail address is not valid.
      </span>

      <label class="font-bold mb-2" for="message">Message</label>
      <textarea id="message" placeholder="Your message"></textarea>
      <span class="mt-4 md:text-lg font-bold">Add attachment(optional)</span>
      <button class="p-2 my-4 bg-blue-600 rounded-full md:w-1/5">Add file...</button>
      <small>Up to 20 MB (.jpg, .png, .pdf, .doc, .docx)</small>

      <input type="submit" value="Send"
        class="cursor-pointer w-2/5 py-2 mx-auto mt-6 text-center bg-blue-600 rounded-full">
    </form>
  </div>


</section>
