<section id="basket" class="pt-4">

  <div class="flex flex-col justify-center w-full">

    <div *ngIf="cartItems">
      <h2 class="ml-4 md:ml-0 w-full mb-4 text-3xl">Cart ({{ numberOfItemsInCart }})</h2>

      <div *ngIf="cartItems.length < 1" class="my-24 text-2xl text-center">
        <span id="empty-cart-message">Your cart is empty, please add some products</span><br>

        <button class="px-4 py-2 m-4 bg-blue-600 rounded-full" routerLink="/">Homepage</button>
      </div>

      <div class="flex flex-col justify-between sm:flex-row">

        <ul class="w-full space-y-4 sm:w-3/5">
          <li id="product" class="flex justify-between w-full p-4 border-2 border-black rounded-lg" *ngFor="let item of cartItems">
            <div class="flex">
              <img class="object-contain w-48 h-48 rounded-lg" src="{{ item.imageUrl }}" alt="Product img">
              <h6 class="my-auto ml-4">{{ item.title }}</h6>
            </div>

            <div class="flex flex-col items-center min-h-full">
              <div class="h-4/5">
                <span class="mr-4">{{ item.price }}$</span>
              </div>
              <div class="h-1/5">
                <button title="Remove from cart" (click)="removeProductFromCart(item.id)">
                  <ion-icon class="w-8 h-8" name="close-circle-outline"></ion-icon>
                </button>
              </div>
            </div>
          </li>
        </ul>


        <div *ngIf="cartItems.length > 0"
             class="w-3/4 mt-4 md:mt-0 mx-auto flex flex-col items-center justify-between md:w-1/5 md:mx-8 bg-gray-400 rounded-lg bg-opacity-40 max-h-36">
          <div class="flex flex-col items-center mt-4">
            <h3 class="text-xl font bold">Total price</h3>
            <span class="text-xl font bold">{{ totalPrice }}$</span>
          </div>

          <div>
            <button routerLink="/order/checkout" class="p-3 m-4 bg-blue-600 rounded-full">Go to checkout</button>
          </div>

        </div>
      </div>
    </div>


  </div>


</section>
