<div class="glide px-4">
  <div class="relative">
    <div class="glide__track" data-glide-el="track">

      <ul class="glide__slides">
        <li class="glide__slide">
          <ul class="flex justify-between">
            <li class="w-1/5 mx-2">
              <div class="">
                <pmp-product-small></pmp-product-small>
              </div>
            </li>
            <li class="w-1/5 mx-2">
              <div class="">
                <pmp-product-small></pmp-product-small>
              </div>
            </li>
            <li class="w-1/5 mx-2">
              <div class="">
                <pmp-product-small></pmp-product-small>
              </div>
            </li>
            <li class="w-1/5 mx-2 ">
              <div class="">
                <pmp-product-small></pmp-product-small>
              </div>
            </li>
            <li class="w-1/5 mx-2">
              <div class="">
                <pmp-product-small></pmp-product-small>
              </div>
            </li>
          </ul>

        </li>

        <li class="glide__slide">
          <ul class="flex justify-between">
            <li class="w-1/5 mx-2">
              <div class="">
                <pmp-product-small></pmp-product-small>
              </div>
            </li>
            <li class="w-1/5 mx-2">
              <div class="">
                <pmp-product-small></pmp-product-small>
              </div>
            </li>
            <li class="w-1/5 mx-2">
              <div class="">
                <pmp-product-small></pmp-product-small>
              </div>
            </li>
            <li class="w-1/5 mx-2 ">
              <div class="">
                <pmp-product-small></pmp-product-small>
              </div>
            </li>
            <li class="w-1/5 mx-2">
              <div class="">
                <pmp-product-small></pmp-product-small>
              </div>
            </li>
          </ul>

        </li>

      </ul>

    </div>

    <div class="glide__arrows hidden md:block" data-glide-el="controls">
      <button
        class="top-0 absolute my-auto -left-4 bottom-0 bg-white w-10 h-10 rounded-full hover:bg-gray-400  duration-300 shadow-lg flex items-center justify-center glide__arrow glide__arrow--left"
        data-glide-dir="<">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </button>
      <button
        class="top-0 absolute my-auto -right-4 bottom-0 bg-white w-10 h-10 rounded-full hover:bg-gray-400 duration-300 shadow-lg flex items-center justify-center glide__arrow glide__arrow--right"
        data-glide-dir=">">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </button>
    </div>
  </div>
</div>
