<section id="account-settings">
  <h3 class="mb-4 text-3xl font-bold">Account settings</h3>

  <div class="p-4 mx-auto w-2/3 rounded-lg border border-black">
    <h4 class="my-4 text-2xl">Account details</h4>
    <div>
      <div class="flex flex-col">
        <div class="flex pb-4 space-y-3 border-b-2 border-black">
          <div class="flex flex-col w-4/5">
            <h5 class="mb-4">Personal data</h5>
            <input type="text" placeholder="First name" value="John" disabled>
            <input type="text" placeholder="Last name" value="Doe" disabled>
            <input type="text" placeholder="Phone number" value="000-000-000" disabled>
          </div>
          <div class="flex justify-center items-center w-1/5">
            <button (click)="toggleModal(personalDetailsEditModal)"
                    class="flex justify-center items-center p-1 rounded-lg border-2 border-black hover:bg-gray-50">
              <ion-icon name="create-outline"></ion-icon>
            </button>
          </div>
        </div>
        <div class="flex pb-4 border-b-2 border-black">
          <div class="w-4/5">
            <h5 class="my-4">E-mail address</h5>
            <input class="w-full" type="email" placeholder="E-mail address" disabled>
          </div>

          <div class="flex justify-center items-center w-1/5">
            <button (click)="toggleModal(emailAddressEditModal)"
                    class="flex justify-center items-center p-1 rounded-lg border-2 border-black hover:bg-gray-50">
              <ion-icon name="create-outline"></ion-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="flex pb-4 border-b-2 border-black">
        <div class="w-4/5">
          <h5 class="my-4">Password</h5>
          <input class="w-full" type="password" placeholder="Password" disabled>
        </div>
        <div class="flex justify-center items-center w-1/5">
          <button (click)="toggleModal(passwordEditModal)"
                  class="flex justify-center items-center p-1 rounded-lg border-2 border-black hover:bg-gray-50">
            <ion-icon name="create-outline"></ion-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="flex justify-center">
      <input class="py-2 mx-auto mt-4 w-2/3 bg-blue-600 rounded-full cursor-pointer" type="submit" value="Save">
    </div>
  </div>

  <!--  Modal  -->
  <pmp-modal [showModal]="showModal" [modalName]="currentModalSelected" (modalToggleEvent)="setModalStatus($event)">
    <ng-container *ngIf="currentModalSelected === personalDetailsEditModal">
      <input type="text" class="w-full rounded-lg border" placeholder="First name">
      <input type="text" class="w-full rounded-lg border" placeholder="Last name">
      <input type="text" class="w-full rounded-lg border" placeholder="Phone number">
    </ng-container>

    <ng-container *ngIf="currentModalSelected === emailAddressEditModal">
      <input class="w-full rounded-lg border" type="email" placeholder="E-mail address">
    </ng-container>

    <ng-container *ngIf="currentModalSelected === passwordEditModal">
      <input class="w-full rounded-lg border" type="password" placeholder="Password">
    </ng-container>
  </pmp-modal>

</section>
