<section id="account-settings">
  <h3 class="mb-4 text-3xl font-bold">Account settings</h3>

  <div class="p-4 mx-auto w-full sm:w-2/3 rounded-lg border border-black mb-4 sm:mb-0">
    <h4 class="my-4 text-2xl">Account details</h4>
    <div>
      <div class="flex flex-col">
        <div class="flex pb-4 space-y-3 border-b-2 border-black">
          <div class="flex flex-col w-4/5 space-y-2">
            <h5 class="mb-4">Personal data</h5>
            <input type="text" placeholder="First name"
                   [value]="personalDetailsForm.get('firstName')?.value" disabled>
            <input type="text" placeholder="Last name"
                   [value]="personalDetailsForm.get('lastName')?.value" disabled>
            <input type="text" placeholder="Phone number"
                   [value]="personalDetailsForm.get('phone')?.value" disabled>
            <input [value]="personalDetailsForm.get('email')?.value" class="w-full" type="email"
                   placeholder="E-mail address" disabled>
          </div>
          <div class="flex justify-center items-center w-1/5">
            <button (click)="toggleModal(personalDetailsEditModal)"
                    class="flex justify-center items-center p-1 rounded-lg border-2 border-black hover:bg-gray-50">
              <ion-icon name="create-outline"></ion-icon>
            </button>
          </div>
        </div>
        <div class="flex pb-4 space-y-3 border-b-2 border-black">
          <div class="flex flex-col w-4/5 space-y-2">
            <h5 class="my-4">Address</h5>
            <input [value]="addressDetailsForm.get('street')?.value" type="text" placeholder="Street" value="Long"
                   disabled>
            <input [value]="addressDetailsForm.get('city')?.value" placeholder="City" value="Denver" disabled>
            <input [value]="addressDetailsForm.get('state')?.value" type="text" placeholder="State" value="New York"
                   disabled>
            <input [value]="addressDetailsForm.get('zip')?.value" type="text" placeholder="Zip code" value="00-000"
                   disabled>
          </div>
          <div class="flex justify-center items-center w-1/5">
            <button (click)="toggleModal(addressDetailsEditModal)"
                    class="flex justify-center items-center p-1 rounded-lg border-2 border-black hover:bg-gray-50">
              <ion-icon name="create-outline"></ion-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="flex pb-4 border-b-2 border-black">
        <div class="w-4/5">
          <h5 class="my-4">Password</h5>
          <input class="w-full" type="password" value="12345678" placeholder="Password" disabled>
        </div>
        <div class="flex justify-center items-center w-1/5">
          <button (click)="toggleModal(passwordEditModal)"
                  class="flex justify-center items-center p-1 rounded-lg border-2 border-black hover:bg-gray-50">
            <ion-icon name="create-outline"></ion-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--  Modal  -->
  <pmp-modal [showModal]="showModal" [modalName]="currentModalSelected" (modalToggleEvent)="turnOnModal($event)">

    <ng-container *ngIf="currentModalSelected === personalDetailsEditModal">
      <form novalidate (ngSubmit)="savePersonalData()" [formGroup]="personalDetailsForm">
        <input formControlName="firstName" [value]="personalDetailsForm.get('firstName')?.value" type="text"
               class="w-full rounded-lg border" placeholder="First name">
        <input formControlName="lastName" [value]="personalDetailsForm.get('lastName')?.value" type="text"
               class="w-full rounded-lg border" placeholder="Last name">
        <input formControlName="phone" [value]="personalDetailsForm.get('phone')?.value" type="text"
               class="w-full rounded-lg border" placeholder="Phone number">
        <input formControlName="email" [value]="personalDetailsForm.get('email')?.value"
               class="w-full rounded-lg border" type="email" placeholder="E-mail address">
        <input type="submit" class="modal-button" value="Save">

      </form>
    </ng-container>

    <ng-container *ngIf="currentModalSelected === addressDetailsEditModal">
      <form novalidate (ngSubmit)="saveAddressData()" [formGroup]="addressDetailsForm">
        <input formControlName="street" [value]="addressDetailsForm.get('street')?.value" type="text"
               class="w-full rounded-lg border" placeholder="Street name">
        <input formControlName="city" [value]="addressDetailsForm.get('city')?.value" type="text"
               class="w-full rounded-lg border" placeholder="City name">
        <input formControlName="state" [value]="addressDetailsForm.get('state')?.value" type="text"
               class="w-full rounded-lg border" placeholder="State name">
        <input formControlName="zip" [value]="addressDetailsForm.get('zip')?.value" type="text"
               class="w-full rounded-lg border" placeholder="Zip code">
        <input type="submit" class="modal-button" value="Save">
      </form>
    </ng-container>

    <ng-container *ngIf="currentModalSelected === passwordEditModal">
      <form novalidate (ngSubmit)="saveAuthData()" [formGroup]="authDetailsForm">
        <input formControlName="password" [value]="authDetailsForm.get('password')?.value"
               class="w-full rounded-lg border" type="password" placeholder="New password">
        <input formControlName="confirmPassword" [value]="authDetailsForm.get('confirmPassword')?.value"
               class="w-full rounded-lg border" [ngClass]="{'bg-red-700': authDetailsForm?.errors ||
                                             ((authDetailsForm.get('confirmPassword')?.touched ||
                                              authDetailsForm.get('confirmPassword')?.dirty) &&
                                              !authDetailsForm.get('confirmPassword')?.valid) }" type="password"
               placeholder="Confirm new password">
        <span *ngIf="authDetailsForm.errors?.match">
                Passwords do not match.
        </span>
        <input type="submit" class="modal-button" value="Save">
      </form>
    </ng-container>
  </pmp-modal>

</section>




