/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "node_modules/hamburgers/_sass/hamburgers/hamburgers";
@import '~css-star-rating/css/star-rating.min.css';
@import '~ngx-toastr/toastr';

@layer base {
  body {
    @apply text-sm;
  }

  .modal-button {
    @apply w-2/5 h-8 my-4 bg-blue-600 rounded-full;
  }

  .table-element {
    @apply border-t border-b border-gray-400 w-1/2 text-center;
  }

   [type="text"],
   [type="email"],
   [type="url"],
   [type="password"],
   [type="number"],
   [type="date"],
   [type="month"],
   [type="tel"],
   [type="time"],
   [type="week"],
   [multiple],
   textarea
    {
    @apply rounded-2xl shadow-sm focus:border-blue-500 focus:ring-blue-500;
   }

   [type="search"] {
    @apply w-10/12 h-6 ml-5 focus:ring-0 focus:outline-none;  
  }

input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="submit"]:disabled {
  @apply bg-gray-300;
}

  select {
    @apply pl-2 border-0 p-0 hidden w-3/12 h-6 border-l-2 border-blue-600 sm:block focus:ring-0 focus:outline-none;
  }

  .is-invalid {
    @apply border-2 border-red-500 bg-red-500 bg-opacity-30;
  }

  .error-message {
    @apply font-bold text-red-500;
  }

  .input-label {
    @apply text-sm font-bold text-gray-700;
  }
}

html {
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 55%);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

* {
  font-family: Lato, sans-serif;
}

ion-icon {
  font-size: 1.5rem;
}

// Stars styles

.rating.color-negative .star-container .star {
  svg {
    fill: #f18f01 !important;
  }

  i {
    color: #f18f01 !important;;
  }
}

.rating.color-ok .star-container .star {
  svg {
    fill: #f18f01 !important;;
  }

  i {
    color: #f18f01 !important;;
  }
}

.rating.color-positive .star-container .star {
  svg {
    fill: #f18f01 !important;;
  }

  i {
    color: #f18f01 !important;;
  }
}

.rating.color-default .star-container .star {
  svg {
    fill: #f18f01 !important;;
  }

  i {
    color: #f18f01 !important;;
  }
}
