<pmp-recommended-products></pmp-recommended-products>

  <section class="flex my-4">
    <hr class="my-4 rounded-lg bg-black border-black">

    <div class="bg-gray-50 min-h-full border-2 border-black rounded-lg w-2/5 hidden lg:block py-9 ml-8">
      <div class="flex flex-col items-center justify-center">
      <h2 class="mb-6 mx-auto text-xl">Newest product</h2>
        <div class="w-10/12 mx-auto">
      <img class="mx-auto" src="https://picsum.photos/400/400">
        </div>
      <span class="my-14 text-3xl">product long name of long product</span>
      <span class="text-xl">product price</span>
      </div>
    </div>

    <div class="w-full lg:w-3/5 mx-8">
        <h1 class="font-bold text-4xl my-4">Our choice </h1>

<!--      TODO Make mobile display to max 6-8 rows -->

      <div class="grid grid-cols-2 row-auto grid-rows-none gap-6 md:grid-cols-3 lg:grid-cols-3 sm:px-4 h-192 overflow-auto sm:h-auto sm:overflow-auto">
        <pmp-product-small></pmp-product-small>
        <pmp-product-small></pmp-product-small>
        <pmp-product-small></pmp-product-small>
        <pmp-product-small></pmp-product-small>
        <pmp-product-small></pmp-product-small>        <pmp-product-small></pmp-product-small>

      </div>
    </div>

  </section>

  <hr class="my-4 rounded-lg bg-black border-black">

  <section id="bestsellers">
    <h1 class="font-bold text-4xl my-4">Bestsellers </h1>
    <div id="bestsellers-slider">
    <pmp-slider></pmp-slider>
    </div>
  </section>

  <hr class="my-4 rounded-lg bg-black border-black">

  <section id="movies">

    <h1 class="font-bold text-4xl my-4">Movies </h1>

    <div id="movies-slider">
    <pmp-slider></pmp-slider>
    </div>
  </section>

<pmp-newsletter></pmp-newsletter>


