<main id="products" class="container mx-auto h-screen bg-white bg-opacity-60 p-4">

  <pmp-recommended-products></pmp-recommended-products>

  <section class="my-4">
    <hr class="my-4 rounded-lg bg-black border-black">

    <div class="w-full">
        <h1 class="font-bold text-4xl my-4">Our choice </h1>

      <div class="grid grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-5 px-4">
        <pmp-product-small></pmp-product-small>
        <pmp-product-small></pmp-product-small>
        <pmp-product-small></pmp-product-small>
        <pmp-product-small></pmp-product-small>
        <pmp-product-small></pmp-product-small>
      </div>
    </div>

  </section>



</main>


