<main id="products" class="container mx-auto h-full bg-white bg-opacity-60 p-4">

  <pmp-recommended-products></pmp-recommended-products>

  <section class="my-4">
    <hr class="my-4 rounded-lg bg-black border-black">

    <div class="w-full">
        <h1 class="font-bold text-4xl my-4">Our choice </h1>

<!--      TODO Make mobile display to max 6-8 rows -->

      <div class="grid grid-cols-2 row-auto grid-rows-none gap-4 md:grid-cols-3 lg:grid-cols-5 px-4 h-192 overflow-auto sm:h-auto sm:overflow-auto">
        <pmp-product-small></pmp-product-small>
        <pmp-product-small></pmp-product-small>
        <pmp-product-small></pmp-product-small>
        <pmp-product-small></pmp-product-small>
        <pmp-product-small></pmp-product-small>        <pmp-product-small></pmp-product-small>
        <pmp-product-small></pmp-product-small>
        <pmp-product-small></pmp-product-small>
      </div>
    </div>

  </section>

  <hr class="my-4 rounded-lg bg-black border-black">

  <section id="bestsellers">
    <h1 class="font-bold text-4xl my-4">Bestsellers </h1>

    <pmp-bestsellers></pmp-bestsellers>
  </section>


</main>


