<section id="orders">
  <h3 class="text-3xl font-bold mb-4">Orders</h3>
  <ul>
    <li class="cursor-pointer">
      <div class="flex w-full border border-black shadow-lg rounded-lg">
        <div class="bg-gray-400 bg-opacity-40 p-4 w-1/3 rounded-l-lg">
          <h4 class="mb-4 font-bold text-2xl">Status</h4>
          <div class="flex flex-col mb-4">
            21 january 2021
            <span>nr 0000000000000</span>
          </div>
          <span class="text-lg">Price</span>
        </div>

        <div class="bg-white w-2/3 flex items-center px-8 rounded-r-lg">
          <div class="m-4">
            <img src="https://picsum.photos/90/90">
          </div>
          <div class="m-4">
            Product long name...
          </div>
        </div>
      </div>
    </li>
  </ul>

</section>
